.background2 {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    background: linear-gradient(135deg, #220807, #000000);
    overflow: auto;
  }
  
  .gameContainer {
    background-color: black;
    width: 96%;
    max-width: 1000px;
    height: 250px;
    margin: 20px 0;
    color: #c0c0c0;
    box-shadow: 0 4px 10px rgba(139, 0, 0, 0.7);
    border-radius: 10px;
    z-index: 500;
    overflow-y: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  }
  
  .gameContainer:hover {
    box-shadow: 0 4px 10px rgba(139, 0, 0, 0.9);
    transform: scale(1.02);
    border: 1px solid #c0c0c0;
  }
  
  .buttonResume, .buttonView, .buttonDelete {
    padding: 10px 20px;
    font-size: 16px;
    color: #c0c0c0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .buttonResume {
    background-color: #071c85;
  }
  
  .buttonView {
    background-color: grey;
  }
  
  .buttonDelete {
    background-color: #800020;
  }
  
  .buttonResume:hover, .buttonView:hover, .buttonDelete:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
  
  .detailsSection {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 10px;
  }
  
  .playerSection, .opponentSection {
    flex: 1;
  }

  .playerSection{
    margin-left: 20%;
  }
  
  .playerSection p, .opponentSection p {
    margin: 6px 0; 
    font-size: 15px;
    line-height: 1.5; 
  }
  
  .playerSection .centered, .opponentSection .centered {
    color: #556b2f;
    font-size: 15px;
    font-weight: bold;
  }
  
  .playerSection .guessed, .opponentSection .guessed {
    color: #daa520;
    font-size: 15px;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .detailsSection {
      flex-direction: column;
    }
  
    .playerSection,
    .opponentSection {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  