.navbar {
  position: fixed;
  top: 1%; 
  width: 100vw;
  background-color: #222;
  color: #c0c0c0;
  padding: 1rem;
  box-shadow: 0 4px 6px black;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.navbar.visible {
  transform: translateY(0);
}

.navbar.hidden {
  left: 0;
  transform: translateY(-100%);
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0;
}

.navbar-menu a {
  color: #c0c0c0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-menu a:hover {
  color: #04177a;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
      padding: 0.5rem; /* Reduced padding for smaller screens */
  }

  .navbar-menu {
      flex-direction: column; /* Stack menu items vertically */
      align-items: center;
  }

  .navbar-menu a {
      font-size: 1rem; /* Smaller font size for smaller screens */
      margin: 0.5rem 0; /* Add spacing between menu items */
  }
}

@media (max-width: 480px) {
  .navbar-menu {
      justify-content: space-evenly;
      align-items: stretch;
  }

  .navbar-menu a {
      font-size: 0.9rem; /* Further reduce font size for very small screens */
  }
}
